@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;500;600&display=swap');

$colors: (
    'soft-blue' : hsl(215, 51%, 70%),
    'cyan' : hsl(178, 100%, 50%),
    'very-dark-blue-main' : hsl(217, 54%, 11%), // main BG
    'very-dark-blue-card' : hsl(216, 50%, 16%), // card BG
    'very-dark-blue-line' : hsl(215, 32%, 27%), // line
    'white' : hsl(0, 0%, 100%)
);
$font-family: 'Outfit';
$font-size: 18px; // Paragraph

// Added Mixin for reponsive design
@mixin ipdad-screen {
    @media screen and (min-width: 768px) {
        @content;
    }
}
